
.trainer_input {
    border: none;
    box-shadow: 0px 3px 6px 0px #00000026;
    height: 50px;
    width: 40em;


}
.trainer_button {
    border: none;
    width: 8em;
    font-weight: 600;
    font-size: inherit;
    box-shadow: 0px 3px 6px 0px #00000026;
    height: 50px;
    background-color:  #D93F3F;
    color: white;

    &:hover {
        filter: brightness(1.2);

    }
}